DISCORD_TOKEN=MTI1NTYzNzYwMTE2MzkzNTc1NA.GLth-3.EAYBumyTH13U9ek5v-4zP-QI5YYl9eT7IV1hFk
MONGO_TOKEN=
GIPHY_TOKEN=
WEBHOOK_ID=https://discord.com/api/webhooks/1325227866417397934/Nc4ks37H-BJqFPVopOfemnqWXgrnVzfwg7Bd666EtzAjo1TjTY0F9Dt8AI8o-8fOJyvD
WEBHOOK_TOKEN=
DISCORD_ID=1145401414751899678
OWNER_ID=1145401414751899678
GROQ=

# Not neccessary variables
DISCORD_STATUS="TEST by lvtrnh" # seprate by comma
RADIO="" # default to https://icecast-qmusicnl-cdp.triple-it.nl/Qmusic_nl_live.mp3
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST="lava.link"
LAVALINK_PASSWORD="I'm a secret"
LAVALINK_PORT=80
LAVALINK_SECURE=false
